body {
    margin: 0px, padding: 0px;
}

.box {
    width: 310px;
    display: inline-block;
}

.show-hide-game {
    /*background-color: orange;*/
    width: 100%;
}

.outer-box {
    background-color: orange;
    display: table;
    margin: 0 auto;
    padding: 30px;
}

.possible-answers-box {
    padding-top: 26px;
    padding-left: 15%;
    margin: auto;
    width: 90%;
}

.possible-answers-box > p {
    font-size: 0.7em;
}

.current-medal-text {
    position: relative;
    right: 40px;
    width: 100%;
}

.total-points-box {
    padding-top: 12px;
    padding-left: 17%;
    margin: auto;
    width: 100%;
    font-size: 0.8em;
}

#letter-containers {
    width: 83%;
    margin: auto;
    height: 300px;
    position: relative;
    top: 10px;
}

.points-breakdown-box {
    padding-top: 26px;
    padding-left: 15%;
    margin: auto;
    height: 800px;
    width: 90%;
}

.points-breakdown-box p {
    font-size: 0.8em;
}

.placeholder {
    height: 250px;
    width: 250px;
}

.correct-word {}

.correct-answers {
    margin-left: 0%;
}

.correct-answers > li {
    margin-right: 0.5em;
    list-style-type: none;
    font-size: 0.8em;
    display: inline-block;
    color: rgba(0, 148, 133, 0.79);
}

#answer-submit-button {
    width: 78.5%;
    margin: auto;
    position: relative;
    top: 20px;
    left: 10.5%;
}

.login-container{
	width: 70%;
    margin: auto;
    position: relative;
    top: 10px;



}

.register-container{
	border-radius:5px;
    position: relative;
    top: 0px;
    background-color:#c53477;
    padding:20px;

}

input{
	font-size:2em;
}

.submit-button {
    width: 78.5%;
    margin: auto;
    position: relative;
    top: 20px;
    left: 10.5%;
}

.letters-used > li {
    margin-right: 5px;
}

.arrow-image {
    height: 30px;
    display: inline-block;
    left: 15%;
    width: 75%;
    opacity: 0.3;
    margin: auto;
    position: absolute;
    bottom: 5px;
}

.letter-column {
    position: relative;
    width: 19.9%;
    height: 300px;
    border-style: solid;
    float: left;
}

ul {
    margin: 0;
    padding: 0;
}

.letter {
    list-style: none;
    text-align: center;
    font-size: 32px;
    width: 100%;
    height: 50px;
    border-top-style: solid;
    border-bottom-style: solid;
    color: black;
    background-color: hsla(231, 48%, 48%, 0.34);
}

.letter:nth-child(3) {
    background-color: rgba(255, 235, 59, 0.51);
}

#answers {
    background-color: red;
    width: 620px;
    margin: 0 auto;
    padding: 60px;
}

#answers > span {
    display: inline-block;
    outline-style: solid;
    float: left;
}

p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 0rem;
}

.letters-used > li {
    display: inline-block;
}

.points-for-last-turn > h5 {
    font-size: 100%;
    margin: 0px;
    font-weight: bold;
}

.points-for-last-turn {
    font-size: 80%;
}

body {
    margin-top: 0rem;
}

.title-bar {
    background: #333;
    padding: 0.9rem;
}

.top-bar {
    background: #333;
}

.top-bar ul {
    background: #333;
}

.top-bar ul li {
    background: #333;
}

.top-bar ul li a {
    color: #fff;
}

.menu-text {
    color: #fff;
}

@media only screen and (max-width:40em) {
    .menu-text {
        display: none !important;
    }
}

@media only screen and (min-width:40em) {
    .menu:last-child {
        border-left: 1px solid #4e4e4e;
    }
    .menu:first-child {
        border-left: none;
    }
    .menu li:not(:last-child) {
        border-right: 1px solid #4e4e4e;
    }
}

.dropdown.menu .submenu {
    border: none;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
    border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
    border-color: transparent #fff transparent transparent;
}

.no-js .top-bar {
    display: none;
}

@media screen and (min-width: 40em) {
    .no-js .top-bar {
        display: block;
    }
    .no-js .title-bar {
        display: none;
    }
}
